.attribution {
    font-size: 11px;
    text-align: center;
    height:10%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.box {
    background: white;
    border-radius: 20px;
    padding: 16px;
    width: 300px;
    height:90%;
    margin: 100px auto 80px;
    transition:0.5s;
    animation: box 1.5s infinite alternate ease-in-out;
}
/*
.box:hover{
    box-shadow: 0 0 15px 1px #acb5be;
}
*/
@keyframes box{
    from{
        box-shadow: 0 0 1px 0 #acb5be;
    }
    to{
        box-shadow: 0 0 15px 1px #7d838a;
    }
}
body {
    background: #D5E1EF;
    font-family: 'Outfit', sans-serif;
}

h2 {
    color: #212B3C;
    font-size: 25px;
    font-weight: 700;
}

p.two {
    color: #9497A0;
    font-size: 17px;
    font-weight: 400;
    padding: 0 0 10px 0;
}

img {
    border-radius: 10px;
    width: 100%;
}

span {
    text-align: center;
}
